* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    color: #E3F2FD;
}

p {
    font-size: 2.5vh;
    line-height: 150%;
}

button {
    padding: 0.75vh 0.55vw;
    font-size: 1.5vh;
    cursor: pointer;
    background: rgba(28, 86, 137, 0.5);
    color: white;
    border: none;
    border-radius: 0.5vh;
}

body,
html {
    font-size: 1vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(28, 87, 137, 0.7);
    display: flex;
    justify-content: center;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/div-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0.8vh);
    /* Adjust blur intensity */
    z-index: 0;
    pointer-events: none;
    /* Keep elements clickable */
}


.page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    background: transparent;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
}

.page1ContentHolder {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0rem;
}

.cookingArea {
    width: 95%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: rgba(28, 86, 137, 0.5);
    border-radius: 0.4rem;
    margin-top: 5.5%;
}

.active {
    display: flex;
    opacity: 1;
    z-index: 99;
}

.buttons {
    position: fixed;
    bottom: 0.20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    z-index: 100;
}

#navBar {
    position: fixed;
    /* or absolute */
    top: 2.5vh;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Ensures it stays on top */
    display: flex;
    justify-content: center;
    gap: 1vw;
    padding: 2vh 20vw;
    background: rgba(28, 87, 137, 0.65);
    /* Semi-transparent background */
}

.navBarButton {
    flex: 1;
    font-size: 3.5vh;
    cursor: pointer;
    background: rgb(100, 181, 246);
    color: rgb(227, 242, 253);
    border: none;
    border-radius: 0.5vh;
    padding: 1.5vh 1vw;

    /* Simulated text outline */
    text-shadow:
        -0.1vh -0.1vw 0 black,
        0.1vh -0.1vw 0 black,
        -0.1vh 0.1vw 0 black,
        0.1vh 0.1vw 0 black;

    transition:
        background 0.3s ease-out,
        color 0.3s ease-out,
        box-shadow 0.3s ease-out,
        text-shadow 0.3s ease-in,
        outline 0.3s ease-out;
}


.currently {
    background: rgb(227, 242, 253);
    color: black;
    outline: 0.5vh solid black;
    box-shadow: -0.2vh 0.4vh 0.9vh 0.7vh rgba(227, 242, 253, 0.5);
}

.navBarButton.currently {
    text-shadow: none;
}

.pbutton {
    padding: 1vh 2vh;
    font-size: 2rem;
    cursor: pointer;
    background: black;
    color: white;
    border: none;
    border-radius: 0.5vh;
}

.stat {
    width: 45vh;
}


#homePanelParent {
    margin: auto;
    overflow: hidden;
    gap: 0.8vh;
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
}

#catchphrase {
    overflow: hidden;
    text-align: left;
    font-size: 3vw;
    margin-left: 5%;
}

#profile {
    margin: auto;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 6;
}

#introduction {
    border-radius: 0.4rem;
    height: 94%;
    width: 90%;
    margin-left: auto;
    background-color: rgba(87, 131, 177, 0.50);
    overflow-x: hidden;
    overflow-y: auto;
    grid-column: span 3 / span 3;
    grid-row: span 6 / span 6;
    grid-row-start: 3;
    scrollbar-color: rgba(28, 87, 137, 0.5) transparent;
}

#badges {
    border-radius: 0.4rem;
    height: 94%;
    width: 95%;
    margin-left: auto;
    overflow: hidden;
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 4;
    grid-row-start: 3;
}

.unbold {
    font-weight: normal;
}

.leftAlignFormat {
    text-align: left;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.centerAlignFormatNoMargin {
    text-align: center;

}

.rightAlignFormat {
    text-align: right;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.rightAlignFormatNoMargin {
    text-align: right;
}

.h2 {
    font-size: vh;
}

.h3 {
    font-size: 2.5vh;
}

.info-line {
    margin-top: 0.5vh;
}

#topInfoLine {
    margin-top: 1.5vh;
}

#profilePanelParent {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#profileImage {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#profileImageContainer {
    border: solid rgba(87, 131, 177, 0.50);
    width: 15vh;
    height: 15vh;
    overflow: hidden;
    border-radius: 50%;
}

#profileImageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#profileDetails {
    background-color: rgba(87, 131, 177, 0.50);
    border-radius: 0.4rem;
    overflow: hidden;
    text-align: center;
    height: 80%;
    width: 90%;
    margin-left: auto;
    margin-right: 6%;
    margin-bottom: auto;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 3;
}

#profileEtc {
    background-color: rgba(87, 131, 177, 0.50);
    border-radius: 0.4rem;
    height: 80%;
    width: 90%;
    margin-left: auto;
    margin-right: 6%;
    margin-bottom: auto;
    overflow: hidden;
    text-align: center;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 5;
}

#profileEtc2 {
    background-color: rgba(87, 131, 177, 0.50);
    border-radius: 0.4rem;
    cursor: pointer;
    height: 80%;
    width: 90%;
    margin-left: auto;
    margin-right: 6%;
    margin-bottom: auto;
    overflow: hidden;
    text-align: center;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 7;
}

.justify {
    text-align: justify;
}


.badge {
    height: 3vh;
}

.badgeContainer {
    text-align: justify;
    overflow: hidden;
}

.badgeContainer.chosen {
    display: block;
    overflow: hidden;
}

#statisticsLoadouts {
    margin-top: 7%;
}

.verticalFlex {
    display: flex;
    flex-direction: column;
}

.flip-card {
    background-color: rgba(87, 131, 177, 0.50);
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 0.5s linear 0s;
    text-align: left;
    backface-visibility: hidden;
}

.flip-card-front {
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.flip-card-back {
    display: flex;
    margin-top: 2vh;
    justify-content: center;
    transform: rotateY(180deg);
}