.homePageContent {
    display: flex;
}

.leftSide {
    flex: 2;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.contentWrapper {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.elevatorPitch {
    flex: 1;
    padding: 1rem;
    background-color: rgba(87, 131, 177, 0.5);
}

.devLoadouts {
    flex: 1;
    padding: 1rem;
    background-color: rgba(87, 131, 177, 0.5);
}

.devLoadouts p {
    margin: 0.25rem;
}

.devLoadouts div>div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.rightSide {
    flex: 1;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.imageWrapper {
    width: 100%;
    padding: 1rem;
}

.spacer {
    flex: 1;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.custom-border {
    border: 4px solid rgba(87, 131, 177, 0.5);
}

.profileDetails {
    flex: 1;
    width: 100%;
    padding: 1rem;
    background-color: rgba(87, 131, 177, 0.5);
}

.socialLinks {
    flex: 1;
    width: 100%;
    padding: 1rem;
    background-color: rgba(87, 131, 177, 0.5);
}

.etC {
    flex: 1;
    width: 100%;
    padding: 1rem;
    background-color: rgba(87, 131, 177, 0.5);
}

.max-w {
    max-width: 155px;
}

@media (max-width: 1400px) {
    .homePageContent {
        flex-direction: column;
        /* normal column */
    }

    .leftSide {
        order: 2;
        /* push leftSide below rightSide */
    }

    .rightSide {
        order: 1;
        /* rightSide goes on top */
    }

    .contentWrapper {
        flex-direction: column;
    }
}