/* ProfileImage placeholder */
.profile-placeholder {
    width: 100%;
    height: 100%;
    display: block;
}

/* LazyImage placeholder */
.lazy-placeholder {
    width: 6rem;
    height: 2rem;
    display: inline-block;
    border-radius: 0.25rem;
}

.profile-image {
    object-fit: cover;
}

.lazy-image {
    width: auto;
    height: 100%;
    display: inline-block;
}
