.gridContentHolder {
    width: auto;
    overflow: hidden;
    text-align: left;
    font-size: clamp(1rem, 3rem, 3rem);
    padding: 1rem;
    margin: 1rem;
    gap: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introTexts {
    align-self: flex-start;
}

.dynamicGrid {
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    background: rgba(20, 70, 110, 0.5);
    width: 94.5%;
    height: 60vh;
    /* fixed height relative to viewport */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* reduced gap for better layout */
    padding: 20px;
    /* reduced padding to save space */
    scrollbar-color: rgba(185, 220, 235, 0.5) transparent;
    box-sizing: border-box;
}

.gridItem {
    height: 30vh;
    /* fill grid cell height */
    max-height: 100%;
    /* limit to grid cell height */
    overflow-y: auto;
    /* scrollbar when content overflows */
    background-color: rgba(87, 131, 177, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.gridTitle {
    font-size: 2rem;
}

.largeGridTitle {
    font-size: 2rem;
}

@media (max-width: 768px) {
    .dynamicGrid {
        grid-template-columns: 1fr;
        height: 100%;
    }

    .gridContentHolder, .largeGridTitle, .gridTitle {
        font-size: clamp(1rem, 2rem, 1.25rem);
    }

    .gridItem {
        height: 25vh;
    }
}