.unbold {
  font-weight: normal;
}

.leftAlignFormat {
  text-align: left;
  margin: 16px;
}

.centerAlignFormatNoMargin {
  text-align: center;
}

.rightAlignFormat {
  text-align: right;
  margin: 16px;
}

.rightAlignFormatNoMargin {
  text-align: right;
}

.h2 {
  font-size: 2rem;
}

.info-line {
  margin-top: 5px;
}

.topInfoLine {
  margin-top: 15px;
}

.justify {
  text-align: justify;
}
