/* Single Page Formatting */
.page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent;
    opacity: 0;
    transition: opacity 0.30s ease-in-out;
    overflow: hidden;
}

/* Active Page Marker */
.active {
    display: flex;
    opacity: 1;
    z-index: 99;
}

.cookingArea {
    min-height: 0;
    width: 95%;
    height: 80%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: rgba(28, 86, 137, 0.5);
    border-radius: 10px;
    margin-top: 5.5%;
}

body.mobileMenuOpen .cookingArea {
    display: none;
}

@media (max-width: 1174px) {
    .cookingArea {
        max-height: 90vh;
        overflow-y: auto;
    }

    .page {
        overflow-y: auto;
        /* allow page scroll */
        align-items: flex-start;
        /* push to top */
    }
}